 <div class="user-details">
  <h1> Expertise </h1>
  <p> {{site.user_description}} </p>
  <p> Throughout his career, Maverick has gained a reputation for delivering innovative and high-quality solutions for his clients. He is a team player, with strong analytical and problem-solving skills, and a deep understanding of the software development process. </p>
  <p>Maverick is always eager to learn and grow as a professional and is a valuable asset to any organization. He welcomes the opportunity to connect and discuss potential projects or collaborations.</p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Think. Design. Code.</h2>
      <i class="fa fa-cogs" aria-hidden="true"></i>
      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      <i class="fa fa-code" aria-hidden="true"></i>
      <p>Maverick is proficient in a variety of programming languages including Java, TypeScript, JavaScript, Dart, Python, Kotlin, Go, and SQL. He is also well-versed in various technologies such as the Spring Framework, NodeJS, Apache Kafka, REST, Flutter, and Android. He has a strong understanding of the industry and is dedicated to staying current with the latest advancements in technology.</p>
    </div>
    <!-- <div class="tech">
      <h2>Design</h2>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-go-plain colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-go-line colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Maverick is proficient in a variety of programming languages including Java, TypeScript, JavaScript, Dart, Python, Kotlin, Go, and SQL. He is also well-versed in various technologies such as the Spring Framework, NodeJS, Apache Kafka, REST, Flutter, and Android. He has a strong understanding of the industry and is dedicated to staying current with the latest advancements in technology.</p>
    </div> -->
</div>
